@charset "UTF-8";

body{
    background-color: rgb(34, 34, 34);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* TÍTULO */
.titulo h1 span{
    display: block;
}

.titulo{
    line-height: 1.1;
}

h1{
    font-size: 40px;
}

/* MENU */
nav ul{
    list-style: none;
}

li{
    display: inline-block;
    margin: 15px;
}

a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

a:hover{
    color: rgb(132, 14, 201);
}

/* BOTÃO */
.btn{
    border: 2px solid rgb(132, 14, 201);
    padding: 10px 15px;
    border-radius: 15px;
}

.btn:hover{
    background-color: rgb(132, 14, 201);
    color: white;
}

/* MAIN */
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    gap: 40px;
}

/* TEXTO */
.conteudo{
    max-width: 500px;
}

h2{
    font-size: 55px;
    line-height: 1.2;
}

h2 span{
    display: block;
}

h2 span:first-child{
    color: rgb(132, 14, 201);
}

p{
    line-height: 1.6;
    margin-top: 15px;
}

/* FORM */
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

input{
    padding: 12px;
    border-radius: 10px;
    border: none;
}

button{
    width: 60%;
    background-color: rgb(132, 14, 201);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    opacity: 0.8;
}

/* IMAGEM */
.imagem img{
    width: 500px;
    max-width: 100%;
}
